.loading-screen
{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.home-page
{
  margin-top:20px;
}
.home-page .title
{
  font-weight:900;
}
.home-page .title::before
{
  content:"#";
  margin-right:10px;
  font-style:italic;
  color:#444444;
  font-size:25px;
}
.shouts-actions
{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin:10px 0px;
}
.refresh-button
{
  border:none;
  color:white;
  padding:5px 10px;
  background:#171717;
  border-radius:5px;
  font-weight:bold;
  cursor:pointer;
  margin-right:20px;
}
.shouts-found
{
  font-weight:300;
  font-style:italic;
}
.shouts-amount
{
  font-weight:bold;
  font-style:normal;
}
.show-btn
{
  border:none;
  background:transparent;
  cursor:pointer;
  color:#DA0037;
  margin:10px 0px;
}
.loaded-message
{
  font-weight:300;
  margin:10px 0px;
  font-size:20px;
}