.shout-box
{
    border:1px solid #2004041c;
    background:#EDEDED;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:20px;
    border-radius:5px;
    margin-top:10px;
}
.shouter-info
{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    margin-left:20px;
    width:calc(100% - 70px);
}
.shouter-avatar
{
    border-radius:100%;
    width:50px;
    height:50px;
}
.top-section
{
    display:flex;
    align-items:center;
    justify-content:center;
}
.top-section > *
{
    margin-right:15px;
}
.shouter-tag
{
    font-weight:600;
}
.creation-date
{
    font-weight: 300;
}
.shout-content
{
    margin-top:10px;
    word-wrap:break-word;
    width:100%;
}
@media only screen and (max-width:700px)
{
    .creation-date
    {
        font-size:15px;
    }
}
@media only screen and (max-width:500px)
{
    .creation-date
    {
        font-size:10px;
    }
    .top-section > *
    {
        margin-right:5px;
    }
    .shouter-info
    {
        margin-left:10px;
    }
    .shout-box
    {
        padding:10px;
    }
    .shout-content
    {
        margin-top:5px;
    }
}
@media only screen and (max-width:320px)
{
    .shouter-avatar
    {
        display:none;
    }
    .shouter-info
    {
        width: calc(100% - 10px);
    }
    .shouter-tag
    {
        font-size:15px;
    }
    .creation-date
    {
        font-size:10px;
    }
}