.app
{
    display:flex;
    height:100vh;
    overflow:hidden;
}
.content
{
    overflow-y:auto;
    width:100%;
    padding-right:30px;
}
.sidebar
{
    position:sticky;
    top:0;
    left:0;
    width:250px;
    padding-top:30px;
    margin-right:30px;
    background:#171717;
    color:white;
}
.top-area
{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    width:100%;
}
.logo
{
    font-weight:bolder;
    font-size:35px;
}
.small-credits
{
    font-size:12px;
    color:#444444;
    font-weight:300;
}
.sidebar .actions-area
{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    height:100%;
}
.sidebar .actions-list
{
    display:flex;
    justify-content:center;
    flex-direction:column;
    list-style:none;
    margin-top:50px;
    width:100%;
}
.sidebar .action
{
    margin:10px 0px;
    font-size:16px;
    background:rgb(30,30,30);
    padding:10px 0px;
}
.sidebar .action-link
{
    color:white;
    text-decoration:none;
    width:100%;
    text-align:start;
    font-weight:bold;
}
.sidebar .action-button
{
    border:none;
    background:transparent;
    color:white;
    font-size:16px;
    cursor:pointer;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-left:16px;
    font-weight:bold;
}
.mobile-bar
{
    position:fixed;
    bottom:0%;
    width:100%;
    height:50px;
    background: #171717;
    display:none;
}
.mobile-bar .actions-area
{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
}
.mobile-bar .actions-list
{
    display:flex;
    align-items:center;
    justify-content:center;
    list-style:none;
}
.mobile-bar .action
{
    margin:0px 10px;
}
.mobile-bar .action-button
{
    height:50px;
    width:50px;
    background:rgb(30,30,30);
    color:white;
    font-size:16px;
    border:none;
    cursor:pointer;
}
.mobile-bar .action-link
{
    color:white;
}
.auth-modal
{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.top-bar
{
    display:flex;
    align-items:center;
    flex-direction:row;
    border-bottom: 1px solid #2004041c;
    padding:10px 0px;
}
.typography
{
    margin-right: 30px;
}
.typography p
{
    margin-top:5px;
}
.close-button
{
    border:none;
    background:transparent;
    color:#444444;
    cursor:pointer;
    font-weight:lighter;
    position:relative;
    bottom:20px;
}
.modal-content
{
    margin:10px 0px;
}
.discord-button
{
    border:none;
    padding:10px 20px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#5865F2;
    cursor:pointer;
    font-weight:bold;
    border-radius:5px;
}
.icon-right-space
{
    margin-right:10px;
}
.shout-modal .modal-content
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.shout-modal .shout-text
{
    width:100%;
    height:120px;
    resize:none;
    margin-top:10px;
    border:1px solid #2004041c;
    border-radius:5px;
    padding:10px;
    font-weight:bold;
}
.shout-modal .shout-button
{
    border:none;
    color:white;
    background:#171717;
    font-weight:bold;
    padding:10px 40px;
    font-size:16px;
    border-radius:5px;
    margin-top:10px;
    cursor:pointer;
}
.socials
{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100px;
    position:absolute;
    bottom:10px;
}
.social-link
{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

@media only screen and (max-width:700px) {
    .sidebar
    {
        display:none;
    }
    .mobile-bar
    {
        display:block;
    }
    .app
    {
        height:auto;
    }
    .content
    {
        padding:0px 10px;
        margin-bottom:50px;
    }
}

@media only screen and (max-width:900px)
{
    .sidebar .action
    {
        font-size:15px;
    }
    .sidebar .action-button
    {
        font-size:15px;
    }
}